DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=ruby_db
REDIS_URL=redis://localhost:6379/0

# SHA256(随机字节)
# background jwt secret key
JWT_SECRET_KEY=

# user jwt secret key
USER_JWT_SECRET=
