DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=ruby_db
REDIS_URL=redis://localhost:6379/0

# SHA256(随机字节)
# background jwt secret key
JWT_SECRET_KEY=

# user jwt secret key
USER_JWT_SECRET=

 # default debug, olny online has info, warn, error, fatal level
 # Only "info" will record logs of all levels
RAILS_LOG_LEVEL=info

# aliyun
ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_BUCKET=
ALIYUN_LOCATION=
ALIYUN_PATH=
ALIYUN_IS_PUBLIC=